:root {
    color:#53cf2e ;
}

html {
    background-color: rgb(24, 24, 24);
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #53cf2e;
}

button {
    background-color: #320203;
    color: #cf3a54;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

#resources {
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    color: #53cf2e;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border: 5px solid black;
    text-align: left;
}